/*!CK:1584992431!*//*1401185025,178134563*/

.sp_qOBp0iP05W1{background-image:url(/rsrc.php/v2/yz/r/pEK3bgbGJ9Q.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:34px;width:34px}.sp_qOBp0iP05W1.sx_0d117f{width:16px;height:16px;background-position:0 -35px}.sp_qOBp0iP05W1.sx_416ade{background-position:0 0}

#bootloader_FenbZ { height: 42px; }
.bootloader_FenbZ { display:block !important; }